<div class=" content">
    <div class=" row">
        <!-- <div class=" col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header d-flex flex-sm-row flex-column justify-content-between">
                    <div class="display-2">Nueva Factura</div>
                </div>
                <div class="card-body">
                    <button class="btn btn-block btn-danger" (click)="newInvoice()">Nueva Factura</button>
                </div>
            </div>
        </div> -->
        <div class=" col">
            <div class="card">
                <div class="card-header d-flex flex-sm-row flex-column justify-content-between">
                    <div class="display-2">Estadísticas</div>
                </div>
                <div class="card-body">
                    <div class="dp-hidden position-absolute">
                        <div class="input-group">
                            <input placeholder="" name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" [navigation]="'select'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!"
                                tabindex="-1">
                        </div>
                    </div>
                    <div class="input-group">
                        <input #dpFromDate class="form-control" placeholder="dd-mm-yyyy" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                        <input #dpToDate class="form-control" placeholder="dd-mm-yyyy" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                        <div class="input-group-append">
                            <button class="btn btn-simple btn-neutral" (click)="datepicker.toggle()" type="button"><i
                  class="fa-solid fa-calendar-days"></i></button>
                        </div>
                    </div>
                    <div class="col table-responsive">
                        <table class="table table-striped nw-table">
                            <thead>
                                <tr>
                                    <th scope="col">Tipo Factura</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col" class="text-right">IVA</th>
                                    <th class="text-right" scope="col">Monto Facturado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row" *ngFor="let r of invoicesSummbyVoucher; last as isLast" class="text-secondary" [ngClass]="{'bg-primary font-weight-bold':isLast,'bg-dark':!isLast}">
                                    <td>{{isLast?'TOTAL':getVTDesc(r.voucher_type)}}</td>
                                    <td>{{r.N}}</td>
                                    <td class="text-right">{{r.taxes|currency:'ARS'}}</td>
                                    <td class="text-right">{{r.amount|currency:'ARS'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col table-responsive">
                        <table class="table table-striped nw-table">
                            <thead>
                                <tr>
                                    <th scope="col">Tipo</th>
                                    <th scope="col" class="text-right">Neto</th>
                                    <th scope="col" class="text-right">ITC</th>
                                    <th scope="col" class="text-right">IVA</th>
                                    <th class="text-right" scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row" *ngFor="let p of invoicesSummbyType; last as isLast" class="text-secondary" [ngClass]="{'bg-primary font-weight-bold':isLast,'bg-dark':!isLast}">
                                    <td>{{p.type=='PUMP'?'Surtidores':p.type=='PRODUCT'?'Productos':p.type}}</td>
                                    <td class="text-right">{{p.net|currency:'ARS'}}</td>
                                    <td class="text-right">{{p.itc|currency:'ARS'}}</td>
                                    <td class="text-right">{{p.taxes|currency:'ARS'}}</td>
                                    <td class="text-right">{{p.total|currency:'ARS'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class=" card">
                <div class=" card-header d-flex flex-sm-row flex-column justify-content-between">
                    <div class=" display-2">Registro de Facturación</div>
                    <button class="btn btn-danger" (click)="newInvoice()"><i class="fa-solid fa-plus"></i> Nueva Factura</button>
                </div>
                <div class="card-body">
                    <div class="m-3 d-flex flex-column flex-md-row justify-content-between">
                        <div class="d-inline-flex col-12 col-md-5">
                            <input id="table-complete-search" type="text" class="form-control" name="searchTerm" (ngModelChange)="refreshTable()" placeholder="Buscar" [(ngModel)]="searchTerm">
                            <span class="col-auto col-form-label" *ngIf="_loading$ | async"><div class="sk-chase" style="font-size: 1em;">
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                            </div></span>
                        </div>

                        <div class="btn-group btn-group-sm" role="group">
                            <label class="btn-neutral btn-simple" ngbButtonLabel>
                                <input type="checkbox" class="btn-check" ngbButton [(ngModel)]="filter.manual"
                                    (ngModelChange)="refreshTable()"> Manual
                            </label>
                            <label class="btn-neutral btn-simple" ngbButtonLabel>
                                <input type="checkbox" class="btn-check" ngbButton [(ngModel)]="filter.auto"
                                    (ngModelChange)="refreshTable()"> Auto
                            </label>
                        </div>

                        <div class="btn-group btn-group-sm align-self-start" role="group" ngbRadioGroup name="radioBasic" [(ngModel)]="radioDef">
                            <label ngbButtonLabel class="btn-info btn-simple">
                                <input ngbButton type="radio" class="btn-check" value="1M" (click)="getData('1M')"> 1
                                Mes
                            </label>
                            <label ngbButtonLabel class="btn-info btn-simple">
                                <input ngbButton type="radio" class="btn-check" value="1Y" (click)="getData('1Y')"> 1
                                Año
                            </label>
                            <label ngbButtonLabel class="btn-info btn-simple">
                                <input ngbButton type="radio" class="btn-check" value="5Y" (click)="getData('5Y')"> 5
                                Años
                            </label>
                        </div>


                    </div>
                    <div class="col table-responsive">
                        <table class="table table-striped nw-table">
                            <thead class="bg-dark sticky-top">
                                <tr>
                                    <th scope="col">#</th>
                                    <th class="text-center" scope="col">Modo</th>
                                    <th class="text-center" scope="col">Cliente</th>
                                    <th class="text-center" scope="col">Tipo Factura</th>
                                    <th class="text-right" scope="col">Monto</th>
                                    <th class="text-center" scope="col">CAE</th>
                                    <th class="text-center d-none d-lg-table-cell" scope="col">Realizado por</th>
                                    <th class="text-right" scope="col">Fecha/Hora</th>
                                    <th class="text-right" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row" *ngFor="let inv of _invoices$ | async" class="bg-dark text-secondary">
                                    <th>
                                        <ngb-highlight [result]="inv.n.toString()" [term]="searchTerm"></ngb-highlight>
                                    </th>
                                    <th class="text-center">
                                        <small><span class="badge badge-secondary mx-1" [ngClass]="{'badge-secondary':inv.performed_by_mode=='MANUAL','badge-primary':inv.performed_by_mode!='MANUAL'}">{{inv.performed_by_mode}}</span></small>
                                    </th>
                                    <td class="font-weight-bold">
                                        <ngb-highlight [result]="inv.user_name||inv.business_name" [term]="searchTerm"></ngb-highlight><i *ngIf="inv.identifier!=0" ngbTooltip="DNI/CUIT:{{inv.identifier}}" [openDelay]="100" class="px-2 text-muted fa-solid fa-id-card"></i>
                                    </td>
                                    <td class="text-center">
                                        {{getVTDesc(inv.voucher_type)}}
                                    </td>
                                    <td class="text-right">
                                        <strong><ngb-highlight result="{{inv.amount|currency:'ARS'}}" [term]="searchTerm"></ngb-highlight></strong>
                                    </td>
                                    <td class="text-center">
                                        <ngb-highlight [result]="inv.CAE" [term]="searchTerm"></ngb-highlight><i class="fa-solid fa-calendar-day px-2 text-muted" ngbTooltip="Vto:{{inv.CAE_exp_date|date:'shortDate'}}" [openDelay]="100"></i>
                                    </td>
                                    <td class="text-center d-none d-lg-table-cell">
                                        {{inv.performed_by}} <span *ngIf="inv.performed_by_role=='ADMIN'"><small>(ADMIN)</small></span>
                                    </td>
                                    <td class="font-weight-light text-right"><small>{{inv.timestamp|date:'short'}}</small></td>
                                    <td class="text-right">
                                        <button class="btn btn-link" ngbTooltip="Ver Detalle" (click)="invoiceDetail(inv.n, inv.voucher_type)"><i class="fa-regular fa-eye text-light"></i></button>
                                        <span *ngIf="getVTDesc(inv.voucher_type).includes('Crédito');else buttonCredit">Ref:{{inv.device_uuid}}</span>
                                        <ng-template #buttonCredit>
                                            <button class="btn btn-link" ngbTooltip="Nueva Nota de Crédito" (click)="newCreditNote(inv.n, inv.voucher_type)"><i class="fa-regular fa-pen-to-square text-danger"></i></button>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between p-3 flex-wrap">
                        <ngb-pagination [collectionSize]="(_collectionSize$|async)!" size="sm" [(page)]="page" [maxSize]="4" [pageSize]="pageSize" (pageChange)="refreshTable()">
                        </ngb-pagination>

                        <select class="form-control" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshTable()">
                            <option [ngValue]="10">10 items</option>
                            <option [ngValue]="20">20 items</option>
                            <option [ngValue]="100">100 items</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>