<div class="container-md">
    <div class="row justify-content-center mx-0">
        <div class="col">
            <div class=" card mt-5">
                <div class="px-4 card-header d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-list-check fa-3x"></i>
                        <div class="ml-3">
                            <p class=" display-4 text-uppercase">Apertura de turno</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="h4">Valores Iniciales</p>
                    <ngb-accordion [closeOthers]="true" activeIds="">
                        <ngb-panel id="pumps" title="Surtidores">
                            <ng-template ngbPanelContent>
                                <div class="table-responsive">
                                    <table class=" table table-fix-head" id="">
                                        <thead class="thead-dark text-primary">
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Tipo</th>
                                                <th class="d-none d-lg-table-cell">Descripcion</th>
                                                <th class="text-center">Contador</th>
                                                <th class="text-center">Precio Unitario</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="!isLoading">
                                            <tr *ngFor="let item of pumps">
                                                <td class="text-center">{{item.id}}
                                                </td>
                                                <td class="cell-ellipsis" style="--mw:150px;">
                                                    {{getTypebyId(item.type_id).name}}</td>
                                                <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                                                    {{!item.description?'-':item.description}}</td>
                                                <td class=" text-center">
                                                    {{item.meter}}<small>[{{!item.type_id?'-':getTypebyId(item.type_id).unit}}]</small>
                                                </td>
                                                <td class="text-center">
                                                    {{item.unit_price|currency:'ARS'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="gral_meter" title="Medidor Gral">
                            <ng-template ngbPanelContent>
                                <div class="table-responsive">
                                    <table class=" table table-fix-head" id="">
                                        <thead class="thead-dark text-primary">
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Descripcion</th>
                                                <th class="text-center">Consumido</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="!isLoading">
                                            <tr [ngClass]="{'table-danger':gralMeter.validated===false,'table-success':gralMeter.validated===true}">
                                                <td>GRAL</td>
                                                <td class="cell-ellipsis">Medidor General</td>
                                                <td class="text-center">{{gralMeter.accumulated}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="products" title="Productos">
                            <ng-template ngbPanelContent>
                                <div class="table-responsive">
                                    <table class=" table table-fix-head" id="">
                                        <thead class="thead-dark text-primary">
                                            <tr>
                                                <th>Nombre</th>
                                                <th class="d-none d-lg-table-cell">Descripcion</th>
                                                <th class="">Categoría</th>
                                                <th class="text-center">Stock</th>
                                                <th class=" text-center">Precio Unitario</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="!isLoading">
                                            <tr *ngFor="let item of products">
                                                <td class="cell-ellipsis" style="--mw:90px;">{{item.name}}
                                                </td>
                                                <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                                                    {{!item.description?'-':item.description}}</td>
                                                <td class="">
                                                    {{!item.category_id?'-':getCategorybyId(item.category_id).name}}
                                                </td>
                                                <td class=" text-center">{{item.stock}}</td>

                                                <td class=" text-center">
                                                    {{item.unit_price|currency:'ARS'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <form #f="ngForm" [ngClass]="{'was-validated':!f.valid&&f.touched}" (ngSubmit)="sendToApi(f.value)">
                    <div *ngIf="!isLoading" class="align-items-center px-4">
                        <div class="form-group col col-md-8 col-xl-6 px-3">
                            <label class="font-weight-light" style="font-size: 1em;" for="obs">Observaciones:</label>
                            <textarea name="observations" ngModel id="obs" style="min-height: 7.8em;" class="form-control" placeholder="**Opcional&#10;Ej:Error en stock de producto, diferencias de precio mal actualizado, error de sistema, etc"></textarea>
                        </div>
                        <p class="h4">Datos de encargado:</p>
                        <div class="form-group px-3 col-8 col-md-6 col-xl-4">
                            <label class="font-weight-light" style="font-size: 1em;" for="turn">Seleccione
                                turno:</label>
                            <select name="turn" id="turn" class="form-control mb-0" required ngModel>
                                <option disabled value="">-</option>
                                <option *ngFor="let item of turns" [ngValue]="item">{{item.name}}</option>
                            </select>
                            <div class="invalid-tooltip">
                                Debe seleccionar turno
                            </div>

                        </div>
                        <fieldset ngModelGroup="employee">
                            <div class="form-row px-3">
                                <div class="form-group col-8 col-md-6 col-xl-4">
                                    <label class="font-weight-light" style="font-size: 1em;" for="emp">Encargado:</label>
                                    <select name="uuid" id="employeeUuid" class="form-control mb-0" ngModel required>
                                        <option value="" disabled>-</option>
                                        <option [ngValue]="item.uuid" *ngFor="let item of employees">{{item.uname}}</option>
                                    </select>
                                    <div class="invalid-tooltip">
                                        Debe seleccionar encargado
                                    </div>
                                </div>
                                <div class="form-group col-4 col-md-2 col-xl-1">
                                    <label class="font-weight-light" style="font-size: 1em;" for="pass">PIN:</label>
                                    <input name="pass" ngModel id="pass" type="password" class="form-control text-center mb-0" minlength="4" placeholder="****" required>
                                    <div class="invalid-tooltip">
                                        {{ !f.value.employee?.pass?'Ingrese pin':'4 dígitos'}}
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                        <div class="form-group col-12">
                            <button type="submit" class="btn text-dark btn-warning btn-lg btn-block" [disabled]="!f.valid||saving">
                                <span [ngClass]="{'d-none':!saving}">
                                    <div class="sk-chase" style="font-size: 1.5em;margin-left: -1.5em;">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </span>{{saving?null:'Abrir turno'}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <ng-template #spinnerBlock>
        <div class="row py-5">
            <div class="col d-flex align-items-center justify-content-center">
                <div class="sk-chase" style="font-size: 5em;">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
            </div>
        </div>
    </ng-template>