<div class="row justify-content-center mx-0">
    <div class="col-md-11 col-xl-10">
        <div class=" card mt-5 mb-0">
            <div *ngIf="operationDetail.rev.name=='ORIGINAL'"
                class="display-3 text-center bg-danger rounded-top text-secondary">ORIGINAL</div>
            <div *ngIf="operationDetail.rev.name!='ORIGINAL'&&operationDetail?.operation.passed"
                class="display-3 text-center bg-success rounded-top text-dark"
                [ngbPopover]="'Revisión por ' +operationDetail?.operation.admin_name+ ' el '+ operationDetail?.operation.updated_on"
                popoverTitle="Detalle" [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">
                {{operationDetail.rev.name}}
            </div>
            <div class="px-4 card-header d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-list-check fa-4x"></i>
                    <div class="ml-3">
                        <p *ngIf="operationDetail.operation.operation_type=='CLOSE'" class=" display-4 text-uppercase">
                            Cierre de turno</p>
                        <p *ngIf="operationDetail.operation.operation_type=='OPEN'" class=" display-4 text-uppercase">
                            Apertura de turno</p>
                        <p class="h4 mb-1 font-weight-light">{{operationDetail.operation.uname}}</p>
                        <p *ngIf="operationDetail.operation.helper_uname!=null"
                            class="h5 mb-1 font-italic font-weight-light">{{operationDetail.operation.helper_uname}}
                            <strong>(Ayudante)</strong></p>
                    </div>
                </div>
                <div class="text-right">
                    <div class="h3 mb-1 text-muted font-italic font-weight-lighter">Turno
                        {{operationDetail.operation.turn_name}}
                    </div>
                    <div class="h5 mb-1 text-muted font-italic font-weight-lighter">
                        {{operationDetail.operation.timestamp|date:'E d/MM/YYYY, HH:mm'}}hs</div>
                    <div class="h5 mb-1 text-muted">Planilla Nº{{operationDetail.operation.id}}</div>
                </div>
            </div>
            <div class="card-body">
                <p class="h4">Registro:</p>
                <div ngbAccordion [closeOthers]="true" activeIds="">
                    <div ngbAccordionItem id="products">
                        <div ngbAccordionHeader>
                            <button ngbAccordionButton>
                                <div class="d-flex align-items-center">
                                    <div class="mx-3">
                                        <p class="text-dark title">
                                            Punto de Ventas</p>
                                    </div>
                                    <div class="mx-5">
                                        <p class="text-muted m-0" style="font-size: larger;">
                                            {{posopTotalAmount()|currency:'ARS'}}</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="table-responsive">
                                        <table class=" table table-fix-head nw-table" id="">
                                            <thead class="thead-dark text-primary">
                                                <tr>
                                                    <th class="col-1 col-lg-4">Nombre</th>
                                                    <th class="col-2 d-none d-lg-table-cell">Descripción</th>
                                                    <th class="col-3 text-center">V. inicial</th>
                                                    <th class="col-3 text-center">V. operación</th>
                                                    <th class="col-3 text-center">V. final</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of operationDetail.posop"
                                                    [ngClass]="{'bg-primary': +item.diff != 0 }">
                                                    <td [ngClass]="{'scrolling-text':innerItem.offsetWidth>outerItem.clientWidth}"
                                                        class="set-max-width" style="--mw:90px" #outerItem> <span
                                                            #innerItem>{{item.name}}</span>
                                                    </td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">
                                                        {{!item.description?'-':item.description}}</td>
                                                    <td class=" text-center">{{item.init_checkout|currency:'ARS'}}</td>
                                                    <td class=" text-center">{{item.amount_sold??0|currency:'ARS'}}</td>
                                                    <td class=" text-center">{{( +item.init_checkout + +item.amount_sold)??0|currency:'ARS'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem id="products">
                        <div ngbAccordionHeader>
                            <button ngbAccordionButton>
                                <div class="d-flex align-items-center">
                                    <div class="mx-3">
                                        <p class="text-dark title">
                                            Productos</p>
                                    </div>
                                    <div class="mx-5">
                                        <p class="text-muted m-0" style="font-size: larger;">
                                            {{productTotalAmount()|currency:'ARS'}}</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="table-responsive">
                                        <table class=" table table-fix-head nw-table" id="">
                                            <thead class="thead-dark text-primary">
                                                <tr>
                                                    <th class="col-2 col-lg-4">Nombre</th>
                                                    <th class="col-1 d-none d-lg-table-cell">Descripción</th>
                                                    <th class="col-1 d-none d-lg-table-cell">Categoría</th>
                                                    <th class="col-1 text-center">Stock inicial</th>
                                                    <th class="col-1 text-center">Vendidos</th>
                                                    <th class="col-1 text-center">Recargas</th>
                                                    <th class="col-1 text-center">Stock Final</th>
                                                    <th class="col-2 d-none d-lg-table-cell text-center">Precio Unitario
                                                    </th>
                                                    <th class="col-2 text-center">Importe</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of operationDetail.products"
                                                    [ngClass]="{'bg-primary':!!item.items_sold||!!item.items_replacement}">
                                                    <td [ngClass]="{'scrolling-text':innerItem.offsetWidth>outerItem.clientWidth}"
                                                        class="set-max-width" style="--mw:90px" #outerItem> <span
                                                            #innerItem>{{item.name}}</span>
                                                    </td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">
                                                        {{!item.description?'-':item.description}}</td>
                                                    <td class="d-none d-lg-table-cell">
                                                        {{item.category??'-'}}
                                                    </td>
                                                    <td class=" text-center">{{item.init_stock}}</td>
                                                    <td class=" text-center">
                                                        {{item.items_sold??0}}
                                                    </td>
                                                    <td class=" text-center">
                                                        {{item.items_replacement??0}}
                                                    </td>
                                                    <td class=" text-center">
                                                        {{+item.init_stock + +(item.items_replacement??0) -
                                                        +(item.items_sold??0)}}
                                                    </td>
                                                    <td class="d-none d-lg-table-cell text-center">
                                                        {{item.unit_price|currency:'ARS'}}
                                                    </td>
                                                    <td class=" text-center">{{item.amount_sold??0|currency:'ARS'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem id="accounts">
                        <div ngbAccordionHeader>
                            <button ngbAccordionButton>
                                <div class="d-flex align-items-center">
                                    <div class="mx-3">
                                        <p class="text-dark title">
                                            Rendición</p>
                                    </div>
                                    <div class="ml-5">
                                        <p class="text-muted m-0" style="font-size: larger;">
                                            {{accTotalAmount()|currency:'ARS'}}</p>
                                    </div>
                                    <div *ngIf="operationDetail.operation.id_accountancy!=null" class="mx-3">
                                        <p class="m-0">
                                            <span *ngIf="operationDetail.rev.name!='ORIGINAL'" class="badge badge-warning">Editado por
                                                {{operationDetail.operation.admin_name??'-'}} el
                                                {{operationDetail.operation.updated_on??'-'|date:'short'}}</span>
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="table-responsive">
                                        <table class=" table table-fix-head" id="">
                                            <thead class="thead-dark text-primary">
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th class="d-none d-lg-table-cell">Descripción</th>
                                                    <th>Monto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    [ngClass]="{'table-success':+operationDetail.accountancy.envelopes_cash>0}">
                                                    <td>Sobres</td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">Nº de sobres/Total entregado</td>
                                                    <td>
                                                        <div>
                                                            {{operationDetail.accountancy.n_envelopes}}/{{operationDetail.accountancy.envelopes_cash|currency:'ARS'}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr [ngClass]="{'table-success':+operationDetail.accountancy.cash>0}">
                                                    <td>Efectivo</td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">
                                                        Dinero en efectivo
                                                    </td>
                                                    <td>{{operationDetail.accountancy.cash|currency:'ARS'}}
                                                    </td>
                                                </tr>
                                                <tr
                                                    [ngClass]="{'table-success':+operationDetail.accountancy.envelopes_cash>0}">
                                                    <td>Vales</td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">
                                                        Vales entregados
                                                    </td>
                                                    <td>{{operationDetail.accountancy.vouchers|currency:'ARS'}}
                                                    </td>
                                                </tr>
                                                <tr [ngClass]="{'table-success':+operationDetail.accountancy.cards>0}">
                                                    <td>Tarjetas</td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">
                                                        Crédito/Débito</td>
                                                    <td>{{operationDetail.accountancy.cards|currency:'ARS'}}
                                                    </td>
                                                </tr>
                                                <tr
                                                    [ngClass]="{'table-success':+operationDetail.accountancy.expenses>0}">
                                                    <td>Gastos</td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">
                                                        Retiros
                                                    </td>
                                                    <td>{{operationDetail.accountancy.expenses|currency:'ARS'}}
                                                    </td>
                                                </tr>
                                                <tr
                                                    [ngClass]="{'table-success':+operationDetail.accountancy.MercadoPago>0}">
                                                    <td>MPago</td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">
                                                        MercadoPago
                                                    </td>
                                                    <td>{{operationDetail.accountancy.MercadoPago|currency:'ARS'}}
                                                    </td>
                                                </tr>
                                                <tr [ngClass]="{'table-success':+operationDetail.accountancy.others>0}">
                                                    <td>Otros</td>
                                                    <td class="cell-ellipsis d-none d-lg-table-cell"
                                                        style="--mw:150px;">
                                                        Ingreso
                                                    </td>
                                                    <td>{{operationDetail.accountancy.others|currency:'ARS'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4">
                    <p class="display-4 text-uppercase text-center text-md-left">Resultado del turno</p>
                    <div class="mt-3 row align-items-center justify-content-center text-center"
                        style="font-size: 1.5em;">
                        <div class="col-xl-3 col-md-5 flex-column ">
                            <p class="font-weight-light text-muted mb-0">Rendición</p>
                            <p class="font-weight-light" style="font-size: 1.7em;">
                                {{accTotalAmount()|currency:'ARS'}}</p>
                        </div>

                        <div class="col-xl-1 col-md-2">
                            <p class="font-weight-bold" style="font-size: 1.7em;">-</p>
                        </div>
                        <div class="col-xl-3 col-md-5 flex-column">
                            <p class="font-weight-light text-muted mb-0">Ventas</p>
                            <p class="font-weight-light" style="font-size: 1.7em;">
                                {{productTotalAmount()+posopTotalAmount()|currency:'ARS'}}</p>
                        </div>

                        <div class="col-md-1">
                            <p class="font-weight-bold" style="font-size: 1.7em;">=</p>
                        </div>
                        <div class="col-xl-3 col-md-5 flex-column">
                            <p class="font-weight-light text-muted mb-0">Diferencia <span
                                    class="text-success">S</span>/<span class="text-danger">F</span></p>
                            <p class="font-weight-bold"
                                [ngClass]="{'text-success':accTotalAmount()-(productTotalAmount()+posopTotalAmount())>0,'text-danger':accTotalAmount()-(productTotalAmount()+posopTotalAmount())<0}"
                                style="font-size: 1.7em;">
                                {{accTotalAmount()-(productTotalAmount()+posopTotalAmount())|currency:'ARS'}}</p>
                        </div>
                    </div>
                </div>
                <div class="p-4">
                    <div *ngIf="operationDetail.operation.observations!=''" class="row mt-3">
                        <div class="col">
                            <p class="display-4 text-uppercase text-center text-md-left">Observaciones</p>
                            <p class="font-weight-light text-center text-md-left mb-0"
                                style="white-space: break-spaces;">
                                {{operationDetail.operation.observations}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col text-center">
                        <button class="btn btn-neutral " (click)="print(PrintTemplate)"><i
                                class="fa-solid fa-print"></i> Imprimir</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #PrintTemplate>
    <div class="white-content" style="background: #fff !important;">
        <h1 class="text-center display-2">Planilla de Turno Nº {{operationDetail.operation.id}}</h1>
        <p class=" display-2 text-center">{{operationDetail.rev.name}}</p>
        <p *ngIf="operationDetail.operation.operation_type=='CLOSE'" class=" display-3">CIERRE DE TURNO
        </p>
        <p *ngIf="operationDetail.operation.operation_type=='OPEN'" class=" display-3">APERTURA DE TURNO
        </p>
        <p> <span class="font-weight-bold">Turno:</span> {{operationDetail.operation.turn_name}}</p>
        <p><span class="font-weight-bold">Fecha/Hora:</span> {{operationDetail.operation.timestamp|date:'E d/MM/YYYY,HH:mm'}}hs
        </p>
        <p><span class="font-weight-bold">Encargado:</span> {{operationDetail.operation.uname}}</p>
        <p><span class="font-weight-bold">Ayudante:</span> {{operationDetail.operation.helper_uname??'-'}}</p>
        <p><span class="font-weight-bold">Observaciones:</span> {{operationDetail.operation.observations}}</p>
        <p *ngIf="operationDetail.rev.name!='ORIGINAL'"><span class="font-weight-bold">Editado por:</span>
            {{operationDetail.operation.admin_name}} el {{operationDetail.operation.updated_on|date:'medium'}}</p>
        <p class="display-4 font-weight-bold pt-4">REGISTRO:</p>
        <p class="display-4">Punto de Ventas</p>
        <table class=" table table-bordered">
            <thead>
                <tr>
                    <th class="text-center d-lg-table-cell">Nombre</th>
                    <th class="text-center d-lg-table-cell">Descripción</th>
                    <th class="text-center">V. Inicial</th>
                    <th class="text-center">V. Operación</th>
                    <th class="text-center">V. Final</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of operationDetail.posop">
                    <td class="cell-ellipsis d-lg-table-cell">{{item.name}}</td>
                    <td class="cell-ellipsis d-lg-table-cell" style="--mw:150px;">
                        {{!item.description?'-':item.description}}</td>
                    <td class=" text-center">
                        {{item.init_checkout|currency:'ARS'}}
                    </td>
                    <td class=" text-center">
                        {{item.amount_sold??0|currency:'ARS'}}
                    </td>
                    <td class=" text-center">
                        {{( +item.init_checkout + +item.amount_sold)??0|currency:'ARS'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="display-4 pt-4 ">Productos</p>
        <table class=" table table-bordered" id="">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th class="d-none d-lg-table-cell">Descripción</th>
                    <th class="d-none d-lg-table-cell">Categoría</th>
                    <th class="text-center">Stock inicial</th>
                    <th class="text-center">Vendidos</th>
                    <th class="text-center">Recargas</th>
                    <th class="text-center">Stock Final</th>
                    <th class="d-none d-lg-table-cell text-center">Precio Unitario</th>
                    <th class=" text-center">Importe</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of operationDetail.products">
                    <td class="cell-ellipsis" style="--mw:90px;">{{item.name}}
                    </td>
                    <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                        {{!item.description?'-':item.description}}</td>
                    <td class="d-none d-lg-table-cell">
                        {{item.category??'-'}}
                    </td>
                    <td class=" text-center">{{item.init_stock}}</td>
                    <td class=" text-center">
                        {{item.items_sold??0}}
                    </td>
                    <td class=" text-center">
                        {{item.items_replacement??0}}
                    </td>
                    <td class=" text-center">
                        {{+item.init_stock + +(item.items_replacement??0) - +(item.items_sold??0) }}
                    </td>
                    <td class="d-none d-lg-table-cell text-center">
                        {{item.unit_price|currency:'ARS'}}
                    </td>
                    <td class=" text-center">{{item.amount_sold??0|currency:'ARS'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="display-4 pt-4 ">Rendición</p>
        <table class=" table table-bordered" id="">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th class="d-none d-lg-table-cell">Descripción</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sobres</td>
                    <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">Nº de sobres/Total entregado
                    </td>
                    <td>
                        <div>
                            {{operationDetail.accountancy.n_envelopes}}/{{operationDetail.accountancy.envelopes_cash|currency:'ARS'}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Efectivo</td>
                    <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                        Dinero en efectivo
                    </td>
                    <td>{{operationDetail.accountancy.cash|currency:'ARS'}}
                    </td>
                </tr>
                <tr>
                    <td>Vales</td>
                    <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                        Vales entregados
                    </td>
                    <td>{{operationDetail.accountancy.vouchers|currency:'ARS'}}
                    </td>
                </tr>
                <tr>
                    <td>Tarjetas</td>
                    <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                        Crédito/Débito</td>
                    <td>{{operationDetail.accountancy.cards|currency:'ARS'}}
                    </td>
                </tr>
                <tr>
                    <td>Gastos</td>
                    <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                        Retiros
                    </td>
                    <td>{{operationDetail.accountancy.expenses|currency:'ARS'}}
                    </td>
                </tr>
                <tr>
                    <td>MPago</td>
                    <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                        MercadoPago
                    </td>
                    <td>{{operationDetail.accountancy.MercadoPago|currency:'ARS'}}
                    </td>
                </tr>
                <tr>
                    <td>Otros</td>
                    <td class="cell-ellipsis d-none d-lg-table-cell" style="--mw:150px;">
                        Ingreso
                    </td>
                    <td>{{operationDetail.accountancy.others|currency:'ARS'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="display-4 text-uppercase text-center text-md-left mt-3">Resultado del turno</p>
        <div class="mt-3 row align-items-center justify-content-center text-center" style="font-size: 1.5em;">
            <div class="col-xl-3 col-md-5 flex-column ">
                <p class="font-weight-light text-muted mb-0">Rendición</p>
                <p class="font-weight-light" style="font-size: 1.7em;">
                    {{accTotalAmount()|currency:'ARS'}}</p>
            </div>

            <div class="col-xl-1 col-md-2">
                <p class="font-weight-bold" style="font-size: 1.7em;">-</p>
            </div>
            <div class="col-xl-3 col-md-5 flex-column">
                <p class="font-weight-light text-muted mb-0">Ventas</p>
                <p class="font-weight-light" style="font-size: 1.7em;">
                    {{productTotalAmount()+posopTotalAmount()|currency:'ARS'}}</p>
            </div>

            <div class="col-md-1">
                <p class="font-weight-bold" style="font-size: 1.7em;">=</p>
            </div>
            <div class="col-xl-3 col-md-5 flex-column">
                <p class="font-weight-light text-muted mb-0">Diferencia S/F</p>
                <p class="font-weight-bold" style="font-size: 1.7em;">
                    {{accTotalAmount()-(productTotalAmount()+posopTotalAmount())|currency:'ARS'}}</p>
            </div>
        </div>

    </div>
</ng-template>