<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 85vh;">
    <div class="row">
        <div class="col-12">
            <p class="display-3 text-center">Conectando al servidor...</p>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center py-5">
            <div class="sk-chase" style="font-size: 7em;">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>
    </div>
</div>