<div class="container-md">
    <app-operation-detail *ngIf="operationDetail$ | async as opd; else spinnerBlock" [operationDetail]="opd"></app-operation-detail>
    <div *ngIf="!isPassed" class="row mx-0 my-2 justify-content-center">
        <!-- <div class="col text-center">
        <button class="btn btn-warning btn-simple" [disabled]="selectedId!=operationId" [routerLink]="['/operations/edit/'+operationId]"><i
                        class="fa-solid fa-pen-to-square"></i> Editar</button>
    </div> -->
        <div class="col text-center">
            <button class="btn btn-success btn-simple" (click)="setPassed()" [disabled]="selectedId!=operationId"><i
                        class="fa-solid fa-check"></i> Marcar como revisada</button>
        </div>
    </div>
    <div *ngIf="!isLoading" class="row justify-content-center mx-0 my-2">
        <div class="col-md-11 col-xl-10">
            <div class="card bg-primary m-0">
                <!-- <div class="form-group m-3">
                    <label class="font-weight-bold" for="revSelect">Histórico</label>
                    <select id="revSelect" name="opSelected" *ngIf="!isLoading" class="custom-select" (change)="changeId($event.target.value)">
                                <option *ngFor="let r of rev" [selected]="r.id==operationId" [value]="r.id" >{{r.name}}</option>
                            </select>
                </div> -->
                <div class="d-flex flex-row align-items-center m-3">
                    <label class="font-weight-bold mx-1 my-0" for="revSelect">Histórico</label>
                    <select id="revSelect" name="opSelected" class="custom-select mx-1" (change)="changeId($event.target.value)">
                                <option *ngFor="let r of rev" [selected]="r.id==operationId" [value]="r.id" >{{r.name}}</option>
                            </select>
                    <button class="btn btn-warning btn-simple mx-1" [disabled]="selectedId!=operationId" [routerLink]="['/operations/edit/'+operationId]"><i
                            class="fa-solid fa-pen-to-square"></i> Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #spinnerBlock>
    <div class="row py-5">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="sk-chase" style="font-size: 5em;">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>
    </div>
</ng-template>