<div class="container">
    <div class=" row justify-content-center align-items-center" style="height: 95vh;">
        <div class=" col-md-8 col-lg-6">
            <div class=" card card-plain">
                <div class=" card-header text-muted">Inicio de sesión</div>
                <div class=" card-body text-center">
                    <div>
                        <main>
                            <form #f="ngForm" [ngClass]="{'was-validated':!f.valid&&f.touched}"(submit)="adminLogin(mail,pass)">
                                <img class="mb-4" src="assets/img/aqua_logo.png" alt="Logo" height="100">
                                <p class="h4 mb-2 fw-normal">Administración de stock y turnos</p>

                                    <div class="form-label text-left position-relative">
                                        <label for="floatingInput">Email</label>
                                        <input [(ngModel)]="mail" name="email" type="email" class="form-control"
                                        id="floatingInput" placeholder="mail@ejemplo.com"
                                         autocomplete="username" required>
                                        <div class="invalid-tooltip">
                                            {{!mail?'Ingrese mail':'Mail inválido'}}
                                        </div>
                                    </div>
                                    <div class="form-label text-left position-relative">
                                        <label for="floatingPassword">Contraseña</label>
                                        <input [(ngModel)]="pass" name="password" type="password" class="form-control"
                                        id="floatingPassword" placeholder="******" autocomplete="current-password" required>
                                        <div class="invalid-tooltip">
                                            Ingrese una contraseña
                                        </div>
                                    </div>
                                    <button class="w-50 btn btn btn-primary" type="submit"
                                    [disabled]="!f.valid||isLoading">
                                    Acceder<div class="sk-chase" [ngClass]="{'d-none':!isLoading}">
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                    </div>
                                </button>
                                <p class="mt-5 mb-3 text-muted">&copy; 2017–2024</p>
                            </form>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>