<div class=" content">
    <div class=" row">
        <div class=" col">
            <div class=" card card-tasks-table">
                <div class=" card-header">
                    <h4 class=" title d-inline">Listado de productos</h4>
                    <input [(ngModel)]="searchString" type="search"
                        class="form-control form-control-dark d-inline col-5 mx-5" placeholder="Buscar..."
                        aria-label="Buscar">
                    <div ngbDropdown>
                        <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">
                            <i class=" tim-icons icon-settings-gear-63"> </i>
                        </button>
                        <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
                            <a (click)="showHidden.checked = !showHidden.checked" href="javascript:void(0)"
                                ngbDropdownItem>
                                <input #showHidden type="checkbox" value="" />
                                Mostrar Archivados </a>
                            <a href="javascript:void(0)" (click)="editCategoryModal()" ngbDropdownItem> Categorias </a>
                        </div>
                    </div>
                    <div ngbDropdown>
                        <button class=" btn btn-link" ngbDropdownToggle type="button" style="top: -0.3em;">
                            Nuevo
                        </button>
                        <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
                            <a href="javascript:void(0)" (click)="newModal()" ngbDropdownItem> Producto </a>
                            <a href="javascript:void(0)" (click)="newCategoryModal()" ngbDropdownItem> Categoría </a>
                        </div>
                    </div>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Categoría</th>
                                    <th class=" text-center">Stock</th>
                                    <th class=" text-center">Precio Unitario</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="{'d-none':!isLoading}">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="sk-chase">
                                            <div class="sk-chase-dot"></div>
                                            <div class="sk-chase-dot"></div>
                                            <div class="sk-chase-dot"></div>
                                            <div class="sk-chase-dot"></div>
                                            <div class="sk-chase-dot"></div>
                                            <div class="sk-chase-dot"></div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let item of products | product:showHidden.checked:searchString">
                                    <ng-template #tipContent>Editar<br><small>Ultima modificacion:<br>{{item.last_change
                                            | date:'d/M/yy H:mm'}}</small></ng-template>
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}<span *ngIf="item.hidden"
                                            class="badge bg-warning text-dark ml-2">Archivado</span>
                                    </td>
                                    <td>{{!item.description?'-':item.description}}</td>
                                    <td>{{!item.category_id?'-':getCategorybyId(item.category_id).name}}</td>
                                    <td class="text-center">{{item.stock}}</td>
                                    <td class=" text-center">${{item.unit_price}}</td>
                                    <td class=" td-actions text-primary">
                                        <button class=" btn btn-link" type="button" placement="bottom"
                                            [ngbTooltip]="tipContent" container="body" (click)="editModal(item)">
                                            <i class=" tim-icons icon-pencil text-danger"> </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>