<div class="logo">
    <p class="simple-text logo-normal">
        AZULES <span class="font-weight-light">SA</span>
    </p>
    <div *ngIf="local|async as lData" class="py-1">
        <p class="local-name">{{lData.name}}</p>
        <p class="local-extra">{{lData.address}}</p>
        <p class="local-extra">{{lData.email}}</p>
    </div>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="{{ menuItem.icon }}"></i>
                <p>{{ menuItem.title }}</p>
            </a>
        </li>
    </ul>
</div>